.Container{
    height: 100vh;
    width: 100vw;
    /* border: 1px solid red; */
    box-sizing: border-box;
    /* box-sizing: content-box; */
    overflow-x: hidden;
    
    /* background-image: linear-gradient(#e8ebe8 60%, rgb(124, 119, 119) ); */
    background-color: #fff;
    box-sizing: border-box;
    height: 100%;
}

 

.conteudo{
    height: calc(100vh - 150px);
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    /* min-height: calc(100vh - 150px); */
    /* min-height: calc(100vh - 150px); */
    /* height: calc(100vh - 150px); */
    
    
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 70px;
    max-height: 70px;
    width: 100%;
    /* border: 1px solid red; */
    /* z-index: 2; */
    /* position: relative; */
}

