.Container{
    width: 100%;
    height: 100%;
}

.conteudo{
    width: 100%;
    /* flex-grow: 2;  */
    height: 100%;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: black;
    height: 70px;
    max-height: 70px;
    width: 100%;
}

@media(max-width: 330px){
    .footer{
        font-size: min(3.6vw, 13px);
        padding: 0px 10px;
    }
}

@media((min-width: 331px ) and (max-width: 480px)){
    .footer{
        font-size: min(3.8vw, 17px);
        padding: 0px 10px;
    }
}


@media((min-width: 481px ) and (max-width: 1300px)){
    .footer{
        font-size: 17px;
    }
}

