.slide-in{
    position: absolute;
    top: 69px;
    left: 0;
    width: 100%;
    height: calc(100vh - 69px);
    background: #000;
    z-index: 999;
    transform-origin: bottom;
}

.slide-out{
    position: absolute;
    top: 69px;
    left: 0;
    width: 100%;
    height: calc(100vh - 69px);
    background: #000;
    z-index: 999;
    transform-origin: top;
}


.image{
    width: 100px;
    height: 100px;
}