
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    
}

html {
  overflow-y: scroll;
}

body {
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}






.slide-in{
    position: absolute;
    top: 69px;
    left: 0;
    width: 100%;
    height: calc(100vh - 69px);
    background: #000;
    z-index: 999;
    transform-origin: bottom;
}

.slide-out{
    position: absolute;
    top: 69px;
    left: 0;
    width: 100%;
    height: calc(100vh - 69px);
    background: #000;
    z-index: 999;
    transform-origin: top;
}

/* 
.image{
    width: 100px;
    height: 100px;
} */